{% extends "layout.html"%}
{%block title%}Roster{%endblock%}

{%block body%}
<h1 id="GameTitle">Game Title</h1>
<h3 id="CharacterName"></h3>
<div id="topRow" class="IconRows">
    <div class="TopIcon">

    </div>
    <div class="TopIcon">
        
    </div>
    <div class="TopIcon">
        
    </div>
    <div class="TopIcon">
        
    </div>

</div>
<div id="botRow" class="IconRows">
    <div class="BotIcon">
        
    </div>
    <div class="BotIcon">
        
    </div>
    <div class="BotIcon">
        
    </div>
    <div class="BotIcon">
        
    </div>
</div>



{%endblock%}